div.index{
    background-color: rgb(86,61,146);
    background-image:url("img/lollawall_maior1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;   
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    object-position: center;
    justify-content: center;
    display:flex;
    z-index: 70;
}

body{
}

header{
    justify-content: center;
    align-items: center;
    display:flex; 
    position: fixed;
    top:0;
    z-index: 80;
}

img.cabecalho {
    width:65%;
    margin-top: 1%;
}

img.monsterDireita{
    width:20%;
    transform:rotateY(180deg);
    position:fixed;
    right:10;
    top:10;
    z-index: 90; /*traz imagem para frente, varia de 0 a 100*/
}

img.monsterEsquerda{
    display: block;
    width:20%;
    position:fixed;
    left:10;
    top:10;
    bottom: 0;
    z-index: 90;
}

.containerMonstro{
    position: relative;
    width: 100%;
    left:0;
}

.overlayMonstro {
    position: absolute;
    overflow: hidden;
    transition: .5s ease;
    top: 40%; 
    left: 14%;
    right: 0;
    width: 0;
    height: 5%;
    z-index: 100;
}

.textoMonstro {
    color: #374385;
    background-color: rgba(205,205,74, 0.3);
    padding: 5%;
    font-size: 32px;
    font-weight: 900;
    position: absolute;
    font-family: monospace;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.containerMonstro:hover .overlayMonstro {
    width: 5%;
    height: 30%;
}

img#iconeFacebook{
    width: 100%;
    /*position:absolute;
    left:0;
    bottom:0;*/
}

img#iconeYoutube{
    width: 100%;
    /*position:absolute;
    left:0;
    bottom:0;*/
}

img#iconeTwitter{
    width: 100%;
    /*position:absolute;
    left:0;
    bottom:0;*/
}

img#iconeInstagram{
    width: 100%;
    /*position:absolute;
    left:0;
    bottom:0;*/
}

ul{ /*lista das redes sociais*/
    height: auto;
    float:right ;
    max-width:5%;
    padding: 0;
    position:fixed;
    bottom:0;
    left:0;
    z-index: 100;
}



/*footer{
    background-color: rgba(205,205,74, 0.2);
    opacity: 1;
    text-align: center;
    font-family: monospace;
    font-weight: 800;
    font-size: 40;
    color: rgb(86,61,146);
   
    width: 90%;
    height: 5%;
    right:0;
    
    para centralizar texto verticalmente e fixar footer no bottom
    object-position: center;
    justify-content: center;
    align-items: center;
    display:flex;
    position:;
    bottom: 0;8
}*/

iframe{
    width: 85%;
    height:70%;
    padding: 0;
    margin:0;
   /* background-color: rgba(86,61,146,0.3);*/
    position: absolute;
    left:15%;
    bottom:0%;
    border-style: none;
    object-position: center;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
/*barra de rolagem, limitando o quadro*/
    overflow-x: hidden;
   /* overflow-y: scroll;*/    
scrollbar-base-color: #C0C0C0;
scrollbar-base-color: #C0C0C0;
scrollbar-3dlight-color: #C0C0C0;
scrollbar-highlight-color: #C0C0C0;
scrollbar-track-color: #EBEBEB;
scrollbar-arrow-color: black;
scrollbar-shadow-color: #C0C0C0;
scrollbar-dark-shadow-color: #C0C0C0;
}